{% extends "base.html" %}

{% block content %}
<h2>Lista produktów</h2>
<table>
    <tr>
        <th>Nazwa produktu</th>
        <th>Liczba opinii</th>
        <th>Liczba wad</th>
        <th>Liczba zalet</th>
        <th>Średnia ocena</th>
    </tr>
    {% for product in products %}
    <tr>
        <td><a href="{{ url_for('product', product_id=product.id) }}">{{ product.name }}</a></td>
        <td>{{ product.opinions_count }}</td>
        <td>{{ product.cons_count }}</td>
        <td>{{ product.pros_count }}</td>
        <td>{{ product.avg_rating }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
